@charset "uTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap');
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
}

/* configura tudo */
*{
    margin: 0px;
    padding: 0px;
}

/*configura área raiz com variáveis*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

div#logo{
    max-height: 10px;
    max-width: 10px;
}
div#logo > img{
    max-height: 50px;
    max-width: 50px;
    padding: 20px;
}

nav{
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.158);
    background-color: var(--cor5);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    background-color: var(--cor0);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
    font-size: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main strong:hover{
    background-color: var(--cor0);
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}


article{
    background-color: white;
    padding: 0px 10px;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.185);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

div.form-group{
    height: auto;
    width: auto;
}

label{
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    margin: auto;
}

small.form-text{
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color: var(--cor3);
    text-align: center;

}

button.btn-primary{
    font-family: var(--fonte-android);
    height: 50px;
    width: 100px;
    border-radius: 20px;

}

input.form-control{
    font-family: var(--fonte-padrao);
    font-size: 0.5em;
    margin: auto;
}
footer{
    color: white;
    background-color: var(--cor5);
    text-align: center;
    padding: 1px;
}